



.govuk-breadcrumbs-item-navigation .govuk-breadcrumbs__list-item:first-child:before {
    content: "";
}

.govuk-breadcrumbs-item-navigation .govuk-breadcrumbs__list--is-root .govuk-breadcrumbs__list-item:first-child:after,
.govuk-breadcrumbs-item-navigation .govuk-breadcrumbs__list-item::before {
    content: "/";
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    border: none;
    top: -2.5rem;
    left: 0;
    display: block;
    position: absolute;
}

.govuk-breadcrumbs-item-navigation .govuk-breadcrumbs__list--is-root .govuk-breadcrumbs__list-item:first-child:after {
    top: -0.1rem;
    right: -1.1rem;
    left: auto;
}

