// Override the default GOV.UK Frontend font stack
$govuk-font-family: "Arial", "Helvetica", sans-serif;

// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";

// Accessible autocomplete field
// https://github.com/alphagov/accessible-autocomplete
// @import "node_modules/accessible-autocomplete/src/autocomplete";

// menu button in header (now 'Sign out' button)
.govuk-header__menu-button::after {
  display: none;
}

.govuk-header__tna-logo {
  float: left;
  width: 220px;
}

.govuk-header__tna-logo-image {
  width: 220px;
}

/* .govuk-header__tna-content {
  margin:0 auto;
  position:relative
} */

/* .tna-header {
  display:flex
} */
.govuk-header__tna_link {
  text-decoration: none;
}

.govuk-header__tna_link:link,
.govuk-header__tna_link:visited {
  color: #fff;
}

.govuk-header__tna_link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
}

.govuk-header__tna_link--homepage {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  display: inline-block;
  font-size: 30px;
  line-height: 1;
}

@media print {
  .govuk-header__tna_link--homepage {
    font-family: sans-serif;
  }
}

.govuk-header__tna_link--homepage:link,
.govuk-header__tna_link--homepage:visited {
  text-decoration: none;
}

// upload.html
.drag-and-drop__success {
  color: #00703c;
  font-weight: 700;
}

.green-tick-mark {
  fill: currentcolor;
  float: left;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}

.drag-and-drop {
  margin-bottom: 40px;
}

.drag-and-drop__button {
  margin-bottom: 32px;
  margin-top: 65px;
  padding-left: 15px;
  position: static;
  width: auto;
}

.drag-and-drop__button::before {
  position: static;
}

.drag-and-drop__button--highlight {
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  color: #0b0c0c;
  outline: 0;
}

.drag-and-drop__dropzone {
  display: flex;
  margin-bottom: 20px;
  outline: 3px dashed #0b0c0c;
  padding-bottom: 30px;
  padding-top: 0;
  text-align: center;
  transition: outline-offset 0.1s ease-in-out, background-color 0.1s linear;
}

.drag-and-drop__dropzone--dragover {
  background: #b1b4b6;
  outline-color: #505a5f;
}

.drag-and-drop__failure {
  align-items: flex-end;
  color: #d4351c;
  display: flex;
  flex-direction: row;
  font-weight: 700;
}

.drag-and-drop__hint-text {
  margin-bottom: 0;
  margin-right: 10px;
  padding-left: 15px;
  padding-top: 70px;
}

.drag-and-drop__input {
  height: 0;
  opacity: 0;
  padding-top: 0;
  position: absolute;
  width: 0;
}

// file-checks-results.html
.govuk-success-summary {
  @include govuk-text-colour;
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(8, "bottom");

  border: $govuk-border-width solid #00703c;

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
}

.govuk-success-summary__title {
  @include govuk-font($size: 24, $weight: bold);

  margin-top: 0;

  @include govuk-responsive-margin(4, "bottom");
}

.govuk-success-summary__body {
  @include govuk-font($size: 19);

  p {
    margin-top: 0;

    @include govuk-responsive-margin(4, "bottom");
  }
}

.govuk-checkboxes__label--withicon {
  display: flex;
}

.govuk-form-group--tight {
  @include govuk-responsive-margin(1, "bottom");
}

.govuk-form-group .govuk-form-group--tight:last-of-type {
  @include govuk-responsive-margin(2, "bottom");
}

.govuk-tdr-download-csv-row {
  display: flex;
  gap: 20px;

  @include govuk-responsive-margin(3, "bottom");
}

.govuk-tdr-download-csv-row a {
  flex-basis: content;
}

.govuk-date-input__multi-date-label {
  align-self: flex-end;
  margin-bottom: 0;
}

.govuk-fieldset--horizontal-align {
  display: flex;
  gap: 15px;
}

.govuk-fieldset--horizontal-align .govuk-fieldset__legend {
  align-self: flex-end;
  margin: 0;
}

.govuk-tna-tree {
  /* Can I use this instead? $govuk-checkboxes-size */
  --checkbox-width: 40px;
  --item-expander-btn-width: 40px;

  overflow-x: auto;
  overflow-y: auto;
  max-height: 90vh;
}

.govuk-tna-tree ul[role="tree"],
.govuk-tna-tree ul[role="tree"] li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.govuk-tna-tree ul[role="group"] li {
  margin-left: var(--item-expander-btn-width);
}

.govuk-tna-tree ul[role="tree"] li {
  margin-top: 5px;
}

.govuk-tna-tree ul[role="tree"] li ul {
  margin: 0 0 0 var(--item-expander-btn-width);
  padding: 0;
}

.govuk-tna-tree ul[role="tree"] ul {
  position: relative;
}

.govuk-tna-tree ul[role="tree"] ul::before {
  content: "";
  margin: 4px 0 0 calc(-2px + var(--checkbox-width) / 2);
  border-left: 4px solid #b1b4b6;
  position: absolute;
  height: calc(100% - 8px);
}

/* Accomodate for lack of button so alignment is ok */
.govuk-tna-tree__node-item > .govuk-checkboxes__item {
  margin-left: var(--item-expander-btn-width);
}

button.govuk-tna-tree__expander {
  flex-basis: auto;
  width: var(--item-expander-btn-width);
  height: calc(var(--item-expander-btn-width) - 6px);
  margin: 2px 0 0;
  padding: 0;
}

.govuk-tna-tree__node-item__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.govuk-tna-tree__node-item__container > * {
  flex-shrink: 0;
}

.govuk-tna-tree__node-item__container,
.govuk-tna-tree__item {
  height: 40px;
}

.govuk-tna-tree__expander {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.govuk-tna-tree__expander::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 10px;
  margin: auto;

  @include govuk-shape-arrow($direction: right, $base: 20px);

  border-color: $govuk-link-colour;
}

.govuk-tna-tree [role="treeitem"][aria-expanded="false"] > ul {
  display: none;
}

.govuk-tna-tree [role="treeitem"][aria-expanded="true"] > ul {
  display: block;
}

.govuk-tna-tree [role="treeitem"][aria-expanded="true"] > .govuk-tna-tree__node-item__container > .govuk-tna-tree__expander::before {
  @include govuk-shape-arrow($direction: down, $base: 20px);

  border-color: $govuk-link-colour;
}

// https://github.com/alphagov/govuk-frontend/issues/1453#issue-455823968
.govuk-tna-tree .govuk-checkboxes__label {
  white-space: nowrap;
}

/*
 * Using same CSS as govuk-frontend checkboxes component:
 * https://github.com/alphagov/govuk-frontend/blob/137b806d7c308f98f75f8c78ecfdb7f760b27d39/package/govuk/components/checkboxes/_index.scss#L128
 * Not including the IE8 stuff.
 * */

[role="treeitem"]:focus > .govuk-checkboxes__item > .govuk-checkboxes__label::before,
[role="treeitem"]:focus > .govuk-tna-tree__node-item__container > .govuk-checkboxes__item > .govuk-checkboxes__label::before {
  border-width: 4px;

  // When colours are overridden, the yellow box-shadow becomes invisible
  // which means the focus state is less obvious. By adding a transparent
  // outline, which becomes solid (text-coloured) in that context, we ensure
  // the focus remains clearly visible.
  outline: $govuk-focus-width solid transparent;
  outline-offset: 1px;

  // When in an explicit forced-color mode, we can use the Highlight system
  // color for the outline to better match focus states of native controls
  @media screen and (forced-colors: active), (-ms-high-contrast: active) {
    outline-color: Highlight;
  }

  box-shadow: 0 0 0 $govuk-focus-width $govuk-focus-colour;
}

[role="treeitem"][aria-selected="true"] > .govuk-checkboxes__item > .govuk-checkboxes__label::after,
[role="treeitem"][aria-selected="true"] > .govuk-tna-tree__node-item__container > .govuk-checkboxes__item > .govuk-checkboxes__label::after {
  opacity: 1;
}

/*
 * Styles pilfered from this thread:
 * https://github.com/alphagov/govuk-frontend/issues/1453#issue-455823968
 * */
[role="treeitem"][aria-checked="mixed"] > .govuk-checkboxes__item > .govuk-checkboxes__label::after,
[role="treeitem"][aria-checked="mixed"] > .govuk-tna-tree__node-item__container > .govuk-checkboxes__item > .govuk-checkboxes__label::after {
  transform: rotate(0);
  border: none;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 6px;
  width: 22px;
  background: currentcolor;
  opacity: 1;
}

// Task list pattern

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  @include govuk-media-query($from: tablet) {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;

  @include govuk-font($size:24, $weight: bold);
}

.app-task-list__section-number {
  display: table-cell;

  @include govuk-media-query($from: tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.app-task-list__items {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(9, "bottom");

  list-style: none;
  padding-left: 0;

  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(6);
  }
}

.app-task-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);

  @include govuk-clearfix;
}

.app-task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.app-task-list__task-name {
  display: block;

  @include govuk-media-query($from: 450px) {
    float: left;
  }
}

// The `app-task-list__task-completed` class was previously used on the task
// list for the completed tag (changed in 86c90ec) – it's still included here to
// avoid breaking task lists in existing prototypes.
.app-task-list__tag,
.app-task-list__task-completed {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}
// Based on https://github.com/alphagov/govuk_publishing_components/blob/v22.0.0/app/assets/stylesheets/govuk_publishing_components/components/_step-by-step-related.scss
// Note - this code for prototype purposes only. It is not production code.
.app-step-nav-related {
  @include govuk-text-colour;

  border-top: 2px solid govuk-colour("blue");
  margin-bottom: govuk-spacing(6);
}

.app-step-nav-related__heading {
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(2);

  @include govuk-font(19, $weight: bold);
}

.app-step-nav-related__links {
  @include govuk-font(16, $weight: bold);

  margin: 0;
  padding: 0;
}

.app-step-nav-related--singular {
  margin-bottom: govuk-spacing(2) + 3;

  .app-step-nav-related__heading {
    @include govuk-font(19, $weight: bold, $line-height: 1.4);

    margin-top: govuk-spacing(4);

    @include govuk-media-query($until: tablet) {
      font-size: 19px;
    }
  }

  .app-step-nav-related__pretitle {
    margin-bottom: govuk-spacing(6) / 4;
  }
}

.app-step-nav-related__pretitle {
  display: block;
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(1);
  }
}

.app-step-nav-related__link-item {
  margin-top: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(1);
  }
}

.app-step-nav-related__link {
  @extend %govuk-link;
}

$stroke-width: 2px;
$stroke-width-large: 3px;
$number-circle-size: 26px;
$number-circle-size-large: 35px;
$top-border: solid 2px govuk-colour("mid-grey", $legacy: "grey-3");

@mixin step-nav-vertical-line($line-style: solid) {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 100%;
  border-left: $line-style $stroke-width govuk-colour("mid-grey", $legacy: "grey-2");
  background: govuk-colour("white");
}

@mixin step-nav-line-position {
  left: 0;
  margin-left: ($number-circle-size / 2) - ($stroke-width / 2);
}

@mixin step-nav-line-position-large {
  left: 0;
  margin-left: ($number-circle-size-large / 2) - ($stroke-width-large / 2);
  border-width: $stroke-width-large;
}

// custom mixin as govuk-font does undesirable things at different breakpoints
// we want to ensure that both large and small step navs have the same size font on mobile
// this will stop text resizing if compatibility mode is turned off
@mixin step-nav-font($size, $tablet-size: $size, $weight: normal, $line-height: 1.3, $tablet-line-height: $line-height) {
  @include govuk-typography-common;

  font-size: $size + px;
  font-weight: $weight;
  line-height: $line-height;

  @include govuk-media-query($from: tablet) {
    font-size: $tablet-size + px;
    line-height: $tablet-line-height;
  }
}

.app-step-nav {
  margin-bottom: govuk-spacing(6);

  &.app-step-nav--large {
    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(9);
    }
  }

  .js-enabled &.js-hidden {
    display: none;
  }
}

.app-step-nav__controls {
  padding: 3px 3px 0 0;
  text-align: right;
}

.app-step-nav__button {
  color: $govuk-link-colour;
  cursor: pointer;
  background: none;
  border: 0;
  margin: 0;

  &:focus {
    @include govuk-focused-text;
  }
}

// removes extra dotted outline from buttons in Firefox
// on focus (standard yellow outline unaffected)
.app-step-nav__button::-moz-focus-inner {
  border: 0;
}

.app-step-nav__button--title {
  @include step-nav-font(19, $weight: bold, $line-height: 1.4);

  display: inline-block;
  padding: 0;
  text-align: left;
  color: govuk-colour("black");

  .app-step-nav--large & {
    @include step-nav-font(19, $tablet-size: 24, $weight: bold, $line-height: 1.4);
  }
}

.app-step-nav__button--controls {
  @include step-nav-font(14, $line-height: 1);

  position: relative;
  z-index: 1; // this and relative position stops focus outline underlap with border of accordion
  padding: 0.5em 0;
  text-decoration: underline;

  .app-step-nav--large & {
    @include step-nav-font(14, $tablet-size: 16, $line-height: 1);
  }
}

.app-step-nav__steps {
  padding: 0;
  margin: 0;
}

.app-step-nav__step {
  position: relative;
  padding-left: govuk-spacing(6) + govuk-spacing(3);
  list-style: none;

  // line down the side of a step
  &::after {
    @include step-nav-vertical-line;
    @include step-nav-line-position;

    top: govuk-spacing(3);
  }

  .app-step-nav--large & {
    @include govuk-media-query($from: tablet) {
      padding-left: govuk-spacing(9);

      &::after {
        @include step-nav-line-position-large;

        top: govuk-spacing(6);
      }
    }
  }
}

.app-step-nav__step:last-child {
  // little dash at the bottom of the line
  &::before {
    content: "";
    position: absolute;
    z-index: 6;
    bottom: 0;
    left: 0;
    margin-left: $number-circle-size / 4;
    width: $number-circle-size / 2;
    height: 0;
    border-bottom: solid $stroke-width govuk-colour("mid-grey", $legacy: "grey-2");
  }

  &::after {
    // scss-lint:disable DuplicateProperty
    // sass-lint:disable no-duplicate-properties // fallback for iphone 4
    height: calc(100% - #{govuk-spacing(3)});

    // sass-lint:enable no-duplicate-properties
    // scss-lint:enable DuplicateProperty
  }

  .app-step-nav__help::after {
    height: 100%;
  }

  .app-step-nav--large & {
    @include govuk-media-query($from: tablet) {
      &::before {
        margin-left: $number-circle-size-large / 4;
        width: $number-circle-size-large / 2;
        border-width: $stroke-width-large;
      }

      &::after {
        height: calc(100% - #{govuk-spacing(6)});
      }
    }
  }
}

.app-step-nav__step--active {
  &:last-child::before,
  .app-step-nav__circle--number,
  &::after,
  .app-step-nav__help::after {
    border-color: govuk-colour("black");
  }
}

.app-step-nav__circle {
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: govuk-spacing(3);
  left: 0;
  width: $number-circle-size;
  height: $number-circle-size;
  color: govuk-colour("black");
  background: govuk-colour("white");
  border-radius: 100px;
  text-align: center;

  .app-step-nav--large & {
    @include govuk-media-query($from: tablet) {
      top: govuk-spacing(6);
      width: $number-circle-size-large;
      height: $number-circle-size-large;
    }
  }
}

.app-step-nav__circle--number {
  @include step-nav-font(16, $weight: bold, $line-height: 23px);

  border: solid $stroke-width govuk-colour("mid-grey", $legacy: "grey-2");

  .app-step-nav--large & {
    @include step-nav-font(16, $tablet-size: 19, $weight: bold, $line-height: 23px, $tablet-line-height: 30px);

    @include govuk-media-query($from: tablet) {
      border-width: $stroke-width-large;
    }
  }
}

.app-step-nav__circle--logic {
  @include step-nav-font(16, $weight: bold, $line-height: 28px);

  .app-step-nav--large & {
    @include step-nav-font(16, $tablet-size: 19, $weight: bold, $line-height: 28px, $tablet-line-height: 34px);
  }
}

// makes sure logic text expands to the left if text size is zoomed, preventing overlap
.app-step-nav__circle-inner {
  float: right;
  min-width: 100%;
}

.app-step-nav__circle-background {
  $shadow-offset: 0.1em;
  $shadow-colour: govuk-colour("white");

  // to make numbers readable for users zooming text only in browsers such as Firefox
  text-shadow: 0 -#{$shadow-offset} 0 $shadow-colour, $shadow-offset 0 0 $shadow-colour, 0 $shadow-offset 0 $shadow-colour, -#{$shadow-offset} 0 0 $shadow-colour;
}

.app-step-nav__circle-step-label,
.app-step-nav__circle-step-colon {
  @include govuk-visually-hidden;
}

.app-step-nav__header {
  padding: govuk-spacing(3) 0;
  border-top: $top-border;

  .app-step-nav--active & {
    cursor: pointer;
  }

  .app-step-nav__button {
    &:focus {
      @include govuk-focused-text;

      .app-step-nav__toggle-link {
        @include govuk-focused-text;
      }
    }
  }

  &:hover {
    .app-step-nav__button:not(:focus),
    .app-step-nav__circle {
      color: $govuk-link-colour;
    }

    .app-step-nav__toggle-link {
      text-decoration: underline;
    }
  }

  .app-step-nav--large & {
    @include govuk-media-query($from: tablet) {
      padding: govuk-spacing(6) 0;
    }
  }
}

.app-step-nav__title {
  @include govuk-text-colour;
  @include step-nav-font(19, $weight: bold, $line-height: 1.4);

  margin: 0;

  .app-step-nav--large & {
    @include step-nav-font(19, $tablet-size: 24, $weight: bold, $line-height: 1.4);
  }
}

.app-step-nav__toggle-link {
  @include step-nav-font(14, $line-height: 1.2);

  display: block;
  color: $govuk-link-colour;
  text-transform: capitalize;

  .app-step-nav--large & {
    @include step-nav-font(14, $tablet-size: 16, $line-height: 1.2);
  }
}

.app-step-nav__panel {
  @include govuk-text-colour;
  @include step-nav-font(16);

  .app-step-nav--large & {
    @include step-nav-font(16, $tablet-size: 19);
  }

  .js-enabled &.js-hidden {
    display: none;
  }
}

// contents of the steps, such as paragraphs and links

.app-step-nav__paragraph {
  padding-bottom: govuk-spacing(3);
  margin: 0;
  font-size: inherit;

  + .app-step-nav__list {
    margin-top: -5px;

    .app-step-nav--large & {
      @include govuk-media-query($from: tablet) {
        margin-top: -govuk-spacing(3);
      }
    }
  }

  .app-step-nav--large & {
    @include govuk-media-query($from: tablet) {
      padding-bottom: govuk-spacing(6);
    }
  }
}

.app-step-nav__list {
  padding: 0;
  padding-bottom: 10px;
  list-style: none;

  .app-step-nav--large & {
    @include govuk-media-query($from: tablet) {
      padding-bottom: 20px;
    }
  }
}

.app-step-nav__list--choice {
  $links-margin: 20px;

  margin-left: $links-margin;
  list-style: disc;

  .app-step-nav__list-item--active::before {
    left: -(govuk-spacing(6) + govuk-spacing(3)) - $links-margin;
  }

  .app-step-nav--large & {
    @include govuk-media-query($from: tablet) {
      .app-step-nav__list-item--active::before {
        left: -(govuk-spacing(9)) - $links-margin;
      }
    }
  }
}

.app-step-nav__list-item {
  margin-bottom: 10px;
}

.app-step-nav__link {
  @include govuk-link-common;
  @include govuk-link-style-default;
}

.app-step-nav__link-active-context {
  @include govuk-visually-hidden;
}

.app-step-nav__list-item--active {
  position: relative;

  &::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    z-index: 5;
    top: 0.6em; // position the dot to align with the first row of text in the link
    left: -(govuk-spacing(6) + govuk-spacing(3));
    margin-top: -($stroke-width / 2);
    margin-left: ($number-circle-size / 2);
    width: $number-circle-size / 2;
    height: $stroke-width;
    background: govuk-colour("black");
  }

  .app-step-nav--large & {
    @include govuk-media-query($from: tablet) {
      &::before {
        left: -(govuk-spacing(9));
        margin-left: ($number-circle-size-large / 2);
        height: $stroke-width-large;
      }
    }
  }

  .app-step-nav__link {
    @include govuk-link-style-text;
  }
}

.app-step-nav__context {
  display: inline-block;
  font-weight: normal;
  color: govuk-colour("dark-grey", $legacy: "grey-1");

  &::before {
    content: " \2013\00a0"; // dash followed by &nbsp;
  }
}

.app-step-nav-header {
  @include govuk-text-colour;

  position: relative;
  padding: 10px;
  background: govuk-colour("light-grey", $legacy: "grey-4");
  border-top: solid 1px govuk-colour("mid-grey", $legacy: "grey-2");
  border-bottom: solid 1px govuk-colour("mid-grey", $legacy: "grey-2");

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(3);
  }
}

// scss-lint:disable SelectorFormat

.app-step-nav-header__part-of {
  @include govuk-font(16, $weight: bold);

  display: block;
  padding-bottom: 0.2em;
}

.app-step-nav-header__title {
  @extend %govuk-link;
  @include govuk-font(24, $weight: bold);
}

// scss-lint:enable SelectorFormat

// This is a GOV.UK Publishing specific component that
// can be seen at http://govuk-static.herokuapp.com/component-guide/related_items
.app-related-items {
  border-top: 2px solid govuk-colour("blue");
  padding-top: govuk-spacing(2);
}

.app-related-items .govuk-list > li {
  margin-bottom: govuk-spacing(2);
}
