.govuk-tna-tree {
  --checkbox-width: 40px;
  --item-expander-btn-width: 40px;

  overflow-x: auto;
  overflow-y: auto;
  max-height: 90vh;
  margin-bottom: 1em;
}

.govuk-tna-tree ul[role="tree"],
.govuk-tna-tree ul[role="tree"] li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.govuk-tna-tree ul[role="group"] li {
  margin-left: var(--item-expander-btn-width);
}

.govuk-tna-tree ul[role="tree"] li {
  margin-top: 5px;
}

.govuk-tna-tree ul[role="tree"] li ul {
  margin: 0 0 0 var(--item-expander-btn-width);
  padding: 0;
}

.govuk-tna-tree ul[role="tree"] ul {
  position: relative;
}

.govuk-tna-tree ul[role="tree"] ul::before {
  content: "";
  margin: 4px 0 0 calc(-2px + var(--checkbox-width) / 2);
  border-left: 4px solid #b1b4b6;
  position: absolute;
  height: calc(100% - 8px);
}

.govuk-tna-tree__node-item__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.govuk-tna-tree__node-item__container > * {
  flex-shrink: 0;
}

.govuk-tna-tree__node-item__container,
.govuk-tna-tree__item {
  height: 40px;
}

.govuk-tna-tree__svg-directory {
  height: 22px;
  width: 24px;
  display: inline-block;
  align-self: baseline;
}

$input-types: "checkboxes", "radios";

@each $input-type in $input-types {
  .govuk-tna-tree__expander-#{$input-type} {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
  }

  .govuk-tna-tree__expander-#{$input-type}::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 10px;
    margin: auto;

    @include govuk-shape-arrow($direction: right, $base: 20px);

    border-color: $govuk-link-colour;
  }

  .govuk-tna-tree [role="treeitem"][aria-expanded="false"] > ul {
    display: none;
  }

  .govuk-tna-tree [role="treeitem"][aria-expanded="true"] > ul {
    display: block;
  }

  .govuk-tna-tree [role="treeitem"][aria-expanded="true"] > .govuk-tna-tree__node-item__container > .govuk-tna-tree__expander::before {
    @include govuk-shape-arrow($direction: down, $base: 20px);

    border-color: $govuk-link-colour;
  }


  button.govuk-tna-tree__expander-#{$input-type} {
    flex-basis: auto;
    width: var(--item-expander-btn-width);
    height: calc(var(--item-expander-btn-width) - 6px);
    margin: 2px 0 0;
    padding: 0;
  }
  /* Accommodate for lack of button so alignment is ok */
  .govuk-tna-tree__item > .govuk-#{$input-type}__item {
    margin-left: var(--item-expander-btn-width);
  }

  // https://github.com/alphagov/govuk-frontend/issues/1453#issue-455823968
  .govuk-tna-tree .govuk-label govuk-#{$input-type}__label {
    white-space: nowrap;
  }

  /*
   * Using same CSS as govuk-frontend checkboxes component:
   * https://github.com/alphagov/govuk-frontend/blob/137b806d7c308f98f75f8c78ecfdb7f760b27d39/package/govuk/components/checkboxes/_index.scss#L128
   * Not including the IE8 stuff.
   * */

  [role="treeitem"]:focus > .govuk-#{$input-type}__item > .govuk-label govuk-#{$input-type}__label::before,
  [role="treeitem"]:focus > .govuk-tna-tree__node-item__container > .govuk-#{$input-type}__item > .govuk-label govuk-#{$input-type}__label::before {
    border-width: 4px;

    // When colours are overridden, the yellow box-shadow becomes invisible
    // which means the focus state is less obvious. By adding a transparent
    // outline, which becomes solid (text-coloured) in that context, we ensure
    // the focus remains clearly visible.
    outline: $govuk-focus-width solid transparent;
    outline-offset: 1px;

    // When in an explicit forced-color mode, we can use the Highlight system
    // color for the outline to better match focus states of native controls
    @media screen and (forced-colors: active), (-ms-high-contrast: active) {
      outline-color: Highlight;
    }

    box-shadow: 0 0 0 $govuk-focus-width $govuk-focus-colour;
  }

  [role="treeitem"][aria-selected="true"] > .govuk-#{$input-type}__item > .govuk-#{$input-type}__label::after,
  [role="treeitem"][aria-selected="true"] > .govuk-tna-tree__node-item__container > .govuk-#{$input-type}__item > .govuk-#{$input-type}__label::after {
    opacity: 1;
  }

  /*
   * Styles copied from this thread:
   * https://github.com/alphagov/govuk-frontend/issues/1453#issue-455823968
   * */
  [role="treeitem"][aria-checked="mixed"] > .govuk-#{$input-type}__item > .govuk-label govuk-#{$input-type}__label::after,
  [role="treeitem"][aria-checked="mixed"] > .govuk-tna-tree__node-item__container > .govuk-#{$input-type}__item > .govuk-#{$input-type}__label::after {
    transform: rotate(0);
    border: none;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 6px;
    width: 22px;
    background: currentcolor;
    opacity: 1;
  }
}

