{% macro navigationItem(item, level, size, pos) %}
    {% if item.type == 'item' or item.children.length == 0 %}
        <li
                class="govuk-tna-tree__item"
                role="treeitem"
                id="{{ item.id }}"
                aria-selected="false"
        >
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="checkbox-{{ item.id }}" type="checkbox"/>
                <label class="govuk-label govuk-checkboxes__label" for="checkbox-{{ item.id }}">
                    {{item.name}}
                    {% if item.name == "Baking powder.docx" and data['closure']['baking-powder'][0] === 'true' %}
                        <span class="icon" aria-label="Has existing metadata">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
                  </span>
                    {% endif %}
                </label>
            </div>
        </li>

        {% elif item.type == 'node' %}
        <li
                class="govuk-tna-tree__node-item"
                role="treeitem"
                id="{{ item.id }}"
                aria-expanded="true"
                aria-selected="false"
        >
            <div class="govuk-tna-tree__node-item__container">
                <button
                        class="govuk-tna-tree__expander"
                        tabindex="-1"
                        id="expander-{{ item.id }}"
                >
                    <span class="govuk-visually-hidden">Expand</span>
                </button>
                <div class="govuk-checkboxes__item">
                    <input
                            class="govuk-checkboxes__input"
                            id="checkbox-{{ item.id }}"
                            tabindex="-1"
                            type="checkbox"
                    />
                    <label class="govuk-label govuk-checkboxes__label" for="checkbox-{{ item.id }}">
                        {{item.name}}
                    </label>
                </div>
            </div>
            <ul tabindex="0" class="govuk-tna-tree__nested-item-list" role="group" id="node-group-{{ item.id }}">
                {% set nextLevel = level + 1 %}
                {% for child in item.children %}
                    {{ navigationItem(child, nextLevel, loop.length, loop.index) }}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

<div class="govuk-tna-tree">
    <ul class="govuk-tna-tree__nested-item-list" role="tree" aria-multiselectable="true">
        {% for node in params.items %}
            {{ navigationItem(node, 1, loop.length, loop.index) }}
        {% endfor %}
    </ul>
</div>
