{% block skipLink %}{% endblock %}
{% block bodyStart %}
    {% block banner %}
        {% include "banner.njk" %}
    {% endblock %}
{% endblock %}
{% block header %}{% endblock %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <ul class="govuk-list">
                    {% for componentData in componentsData %}
                        <li><a class="govuk-link" href="/{{ componentData.name }}">{{ componentData.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
</div>

