name: Run all tests
on:
  pull_request:
  push:
    branches-ignore:
      - main
      - release-*
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENCE'
      - 'README.md'

permissions:
  id-token: write
  contents: read


jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        if: github.event_name == 'pull_request'
        with:
          fail-on-severity: critical
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run code style and lint tests
        uses: ./.github/actions/lint

  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run unit tests
        uses: ./.github/actions/tests

  storybook-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run interaction and accessibility test
        uses: ./.github/actions/storybook-tests
