<button class="govuk-button govuk-button--disabled" data-tdr-module="button-disabled" data-module="govuk-button" aria-describedby="disabled-reason" aria-disabled="true">
  {{params.label}}
</button>

<p id="disabled-reason">{{params.reasonDisabled}}</p>
